create_read_embeddings/create_read_embeddings/data/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
create_read_embeddings/create_read_embeddings/data/pathmnist.npz filter=lfs diff=lfs merge=lfs -text
